<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title>Document</title>
  </head>
  <body>
    <nav>
      <input type="checkbox" id="check" />
      <label for="check" class="checkbtn"><i class="fas fa-bars"></i></label>
       <h2 class="logo"> Cine_Kanako </h2>
      <ul>
        <li><a class="active" href="#">Home</a></li>
        <li><a>Peliculas</a></li>
        <li><a>Series</a></li>
        <li><a>Cerra Sesion</a></li>
      </ul>
    </nav>
    <section>
        
      <div class=' contenedor'>
            <div class="peliculas">
              <img src="https://cdn.marvel.com/content/1x/deadpoolandwolverine_lob_crd_02.jpg" alt="Pelicula">
            </div>
           <div class="pie">
            <h2>Titulo: Deadpool and Wolverin</h2>
            <p>Descripción: Wolverin se recupera de sus heridas
            cuando se cruza con el bocazas, Deadpool,
            que ha viajado en el tiempo para curarlo con la esperanza de hacerse amigos y formar un equipo para acabar con un enemigo común.</p>
            <br>
            <button type="button">Ocultar</button>
           
          </div>
        </div>

        <div class=' contenedor'>
          <div class="peliculas">
            <img src="https://scontent.cdninstagram.com/v/t39.30808-6/450011663_860377179453286_2427487120153724479_n.jpg?stp=dst-jpg_e15&efg=eyJ2ZW5jb2RlX3RhZyI6ImltYWdlX3VybGdlbi4xMjAweDE1MDAuc2RyLmYzMDgwOCJ9&_nc_ht=scontent.cdninstagram.com&_nc_cat=110&_nc_ohc=OQtmURxrMmAQ7kNvgG75P8F&edm=APs17CUAAAAA&ccb=7-5&ig_cache_key=MzQwOTc5NDU3OTkyOTAyNjA1OA%3D%3D.2-ccb7-5&oh=00_AYBMNnQBHTNvgrLGfqTE51dnVE00cMz2hkI2e7rvBkcI4A&oe=6695B5B7&_nc_sid=10d13b" alt="Pelicula">
          </div>
         <div class="pie">
          <h2>Titulo: Blue Lock La Pelicula. Episodio Nagi</h2>
          <p>Descripción: El sueño de Nagi de convertirse en el mejor junto a Reo le llevará a un mundo desconocido. Un prodigio sólo puede formarse cuando alguien lo descubre... ahora, el increíble talento y la personalidad del delantero Nagi Seishiro revolucionarán el mundo del fútbol.</p>
          <br>
          <button type="button">Ocultar</button>
           
         </div>
      </div>

     <div class=' contenedor'>
      <div class="peliculas">
        <img src="https://es.web.img2.acsta.net/medias/nmedia/18/89/75/38/20065259.jpg" alt="Pelicula">
      </div>
     <div class="pie">
      <h2>Titulo: Coach Carter</h2>
      <p>Descripción: Un entrenador de baloncesto de una escuela secundaria transforma a un equipo perdedor, y luego enfrenta críticas por presionar a los atletas a darle mayor importancia a las calificaciones.</p>
      <br>
      <button type="button">Ocultar</button>
     </div>
  </div>

  <div class=' contenedor'>
    <div class="peliculas">
      <img src="https://irs.www.warnerbroslatino.com/keyart-jpeg/movies/media/browser/blended_v_dd_ka_tt_2000x3000_300dpi_mx_23893372.jpeg" alt="Pelicula">
    </div>
   <div class="pie">
    <h2>Titulo: Luna de miel en familia</h2>
    <p> Descripción: Lauren, madre divorciada con dos hijos, y Jim, padre viudo con tres hijas, se conocen en una desastrosa cita a ciegas en la que ambos sólo sacan una cosa en claro: no desean volver a verse nunca más.</p>
    <br> 
    <button type="button">Ocultar</button>
   </div>
</div>

<div class=' contenedor'>
  <div class="peliculas">
    <img src="https://play-lh.googleusercontent.com/EJf5X_kuvzG5LmV6LP0wBHzA3J0B1_W_TjYOVh4v1eib7-1FxqLBvNYiVCY5kTV3PrMkhQ" alt="Pelicula">
  </div>
 <div class="pie">
  <h2>Titulo: Shrek 2</h2>
  <p> Shrek, nuestro ogro favorito, debe enfrentarse al mayor de los problemas que se podía imaginar: conocer a sus suegros.</p>
  <br>
  <button type="button">Ocultar</button>
 </div>
</div>
        
        
    </section>
  </body>
</html>
