    <app-header></app-header>
    <section>
        <div class=' contenedor'>
              <div class="peliculas">
                <img src="https://cdn.marvel.com/content/1x/deadpoolandwolverine_lob_crd_02.jpg" alt="Pelicula">
              </div>
             <div class="pie">
              <h2>Titulo: Deadpool and Wolverin</h2>
              <p>Descripción: Wolverin se recupera de sus heridas
              cuando se cruza con el bocazas, Deadpool,
              que ha viajado en el tiempo para curarlo con la esperanza de hacerse amigos y formar un equipo para acabar con un enemigo común.</p>
              <br>
              <button type="button">Ocultar</button>
              <a href="https://youtu.be/uDzfa0w86Vw" target="_blank" class="button">Ver Trailer</a>
            </div>
          </div>
  
          <div class=' contenedor'>
            <div class="peliculas">
              <img src="https://a.storyblok.com/f/178900/3041x4298/70baae3deb/bluelock-episode-nagi-teaser-poster.jpg/m/filters:quality(95)format(webp)" alt="Pelicula">
            </div>
           <div class="pie">
            <h2>Titulo: Blue Lock La Pelicula. Episodio Nagi</h2>
            <p>Descripción: El sueño de Nagi de convertirse en el mejor junto a Reo le llevará a un mundo desconocido. Un prodigio sólo puede formarse cuando alguien lo descubre... ahora, el increíble talento y la personalidad del delantero Nagi Seishiro revolucionarán el mundo del fútbol.</p>
            <br>
            <button type="button">Ocultar</button>
            <a href="https://youtu.be/2mgAjfp4bog" target="_blank" class="button">Ver Trailer</a>         
           </div>
        </div>
  
       <div class=' contenedor'>
        <div class="peliculas">
          <img src="https://es.web.img2.acsta.net/medias/nmedia/18/89/75/38/20065259.jpg" alt="Pelicula">
        </div>
       <div class="pie">
        <h2>Titulo: Coach Carter</h2>
        <p>Descripción: Un entrenador de baloncesto de una escuela secundaria transforma a un equipo perdedor, y luego enfrenta críticas por presionar a los atletas a darle mayor importancia a las calificaciones.</p>
        <br>
        <button type="button">Ocultar</button>
        <a href="https://youtu.be/YSkGDsT6IUc" target="_blank" class="button">Ver Trailer</a>
       </div>
    </div>
  
    <div class=' contenedor'>
      <div class="peliculas">
        <img src="https://irs.www.warnerbroslatino.com/keyart-jpeg/movies/media/browser/blended_v_dd_ka_tt_2000x3000_300dpi_mx_23893372.jpeg" alt="Pelicula">
      </div>
     <div class="pie">
      <h2>Titulo: Luna de miel en familia</h2>
      <p> Descripción: Lauren, madre divorciada con dos hijos, y Jim, padre viudo con tres hijas, se conocen en una desastrosa cita a ciegas en la que ambos sólo sacan una cosa en claro: no desean volver a verse nunca más.</p>
      <br> 
      <button type="button">Ocultar</button>
      <a href="https://youtu.be/3hMeyIdL3EU" target="_blank" class="button">Ver Trailer</a>
     </div>
  </div>
  
  <div class=' contenedor'>
    <div class="peliculas">
      <img src="https://play-lh.googleusercontent.com/EJf5X_kuvzG5LmV6LP0wBHzA3J0B1_W_TjYOVh4v1eib7-1FxqLBvNYiVCY5kTV3PrMkhQ" alt="Pelicula">
    </div>
   <div class="pie">
    <h2>Titulo: Shrek 2</h2>
    <p> Shrek, nuestro ogro favorito, debe enfrentarse al mayor de los problemas que se podía imaginar: conocer a sus suegros.</p>
    <br>
    <button type="button">Ocultar</button>
    <a href="https://youtu.be/oW-vf54cUes" target="_blank" class="button">Ver Trailer</a>
   </div>
  </div>
          
          
      </section>